<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="commonHead">
    <!--icono-->
    <link rel="stylesheet" th:href="@{/css/lib/icono.min.css}">

    <link rel="stylesheet" th:href="@{/css/portfolio/common.css}"/>

    <!--JQuery-->
    <script th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/portfolio/DJ/StrDJ.js}"></script>
    <script th:src="@{/js/portfolio/DJ/DataTypeDJ.js}"></script>
    <script th:src="@{/js/portfolio/DJ/AjaxDJ.js}"></script>
    <script th:src="@{/js/portfolio/common.js}"></script>

    <title th:text="${'포트폴리오'}"></title>
</head>

</html>