.chat_room_wrap * { margin: 0; padding: 0; }
.chat_room_wrap .list {  }
.chat_room_wrap .list ul { width: 100%; list-style: none; }
.chat_room_wrap .list ul li { padding: 20px; background-color: #FFF; border-bottom: 1px solid #e5e5e5; cursor: pointer; }
.chat_room_wrap .list ul li:hover { background-color: #EEE; transition-duration: 0.7s; }
.chat_room_wrap .list ul li.create-btn { text-align: center; border: none; cursor: auto; }
.chat_room_wrap .list ul li.create-btn:hover { background-color: #FFF; }
.chat_room_wrap .list ul li.create-btn > div { border: 1px solid #888; padding: 10px 20px; border-radius: 3px; color: #888; font-size: 15px; cursor: pointer; }
.chat_room_wrap .list ul li.create-btn > div:hover { background-color: #EEE; transition-duration: 0.7s; }
.chat_room_wrap .list ul li > div { display: inline-block; }
.chat_room_wrap .list ul li > div.count { float: right; }

section div.panel-1 { width: 100%; height: auto; padding: 0;}
section div.panel-1:hover { background-color: #EEE; }
section div.panel-1 button { position: inherit; bottom: inherit; left: inherit; width: auto; }