<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>포트폴리오</title>
</head>

<link rel="stylesheet" th:href="@{/css/portfolio/personalProject/chat/chat.css}"/>

<!--JQuery-->
<script th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/lib/sockjs.1.4.0.min.js}"></script>
<script th:src="@{/js/lib/stomp.1.7.1.min.js}"></script>
<script th:src="@{/js/portfolio/personalProject/chat/ChatWebSocket.js}"></script>
<script th:src="@{/js/portfolio/personalProject/chat/chat.js}"></script>

<body>
	<div class="chat_wrap">
		<div class="header" th:text="${chatRoomDto.getRoomName()}"></div>
		<div class="chat">
			<ul>
				<!--동적 생성-->
			</ul>
		</div>
		<div class="input-div">
			<textarea placeholder="Press Enter for send message."></textarea>
		</div>

		<!-- format -->

		<div class="chat format">
			<ul>
				<li>
					<div class="sender">
						<span></span>
					</div>
					<div class="message">
						<span></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>