<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<link rel="stylesheet" th:href="@{/css/portfolio/personalProject/chat/chatRoom.css}"/>

	<script th:src="@{/js/portfolio/personalProject/chat/chatRoom.js}"></script>
</head>

<div layout:fragment="content" class="container-fluid">
	<div class="container-fluid">

		<h3>Toy Project > Chat</h3>
		<hr />

		<!-- Content Row -->
		<div class="row">

			<div class="col-lg-7 mb-4">
				<div class="chat_room_wrap">
					<div class="list">
						<ul>

							<li class="roomLi"
								th:each="chatRoomDto, iter : ${chatRoomDtoList}"
								th:data-uid="${chatRoomDto.getUid()}"
								th:data-url="${'/personalProject/chat'}">
								<!-- roomName -->
								<div>
									<span th:text="${chatRoomDto.getRoomName()}"></span>
								</div>
								<!-- member count -->
								<!--<div class="count">
									<span class="info grey">
										<span>0</span>
										<span>/</span>
										<span th:text="${chatRoomDto.getMaxMemberCount()}"></span>
									</span>
								</div>-->
							</li>

							<!--							<li class="create-room">-->
							<!--								<div id="createRoomBtn">CREATE ROOM</div>-->
							<!--							</li>-->
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</html>
