<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<link rel="stylesheet" th:href="@{/css/portfolio/personalProject/chat/chatRoom.css}"/>
<script th:src="@{/js/portfolio/personalProject/chat/chatRoom.js}"></script>

<body>
	<header>
		<div class="header-left"><span>Kim Dong Ju</span></div>
		<div class="header-right"><button class="button-type-1">Contact</button></div>
	</header>
	<section>
		<div>
			<div class="title">
				<span>&lt; CHAT /&gt;</span>
			</div>

			<div class="panel-1">

				<div class="chat_room_wrap">
					<div class="list">
						<ul>
							<li>
								<!-- Title -->
								<div>
									<span>Title</span>
								</div>
								<!-- member count -->
								<div class="count">
									<span class="info grey">1/3</span>
								</div>
							</li>

							<li>
								<!-- Title -->
								<div>
									<span>Title</span>
								</div>
								<!-- member count -->
								<div class="count">
									<span class="info grey">1/3</span>
								</div>
							</li>

							<li>
								<!-- Title -->
								<div>
									<span>Title</span>
								</div>
								<!-- member count -->
								<div class="count">
									<span class="info grey">1/3</span>
								</div>
							</li>

							<li class="create-room">
								<div>CREATE ROOM</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>