<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<style>
		.card-body img { border: 1px solid #EEE; width: 100%; }
	</style>
</head>

<div layout:fragment="content" class="container-fluid">
	<div class="container-fluid">

		<h3>2020 - NOW</h3>
		<hr />

		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">카카오톡 선물하기 프로모션</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/kaakocommerce_gift.png}" alt="" />
						<hr />
						<span>dktechin</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">kakao for business 지원센터</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/kakao_for_business_black.png}" alt="" />
						<hr />
						<span>dktechin</span>
					</div>
				</div>
			</div>
		</div>

		<h3>2018 - 2019</h3>
		<hr />

		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">KT그룹 교육포털</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/ktedu.PNG}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">에너지 관리공단 환급사업</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/refund.PNG}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">전남 CMS</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/cms.png}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">애니푸드</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/anyfood.PNG}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">더라운지 멤버스</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/thelounge.PNG}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">서울 국제 도서전</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/sibf.jpg}" alt="" />
						<hr />
						<span>애니모비</span>
					</div>
				</div>
			</div>
		</div>

		<h3>2017</h3>
		<hr />

		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">공감</h6>
					</div>
					<div class="card-body">
						<img th:src="@{/images/career/gg.PNG}" alt="" />
						<hr />
						<span>새얀아이엔씨</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</html>
