<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<body>
	<header th:replace="layout/header::header"></header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Let Me Introduce Myself /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/main/profile.jpg}">
				<button class="button-type-1" data-url="/profiles">PROFILE</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/main/skills.jpg}">
				<button class="button-type-1" data-url="/skills">SKILLS</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/main/career.jpg}">
				<button class="button-type-1" data-url="/career">CAREER</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/main/personalProject.PNG}">
				<button class="button-type-1" data-url="/personalProject">PERSONAL PROJECT</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/main/blog.PNG}">
				<button class="button-type-1" data-window-open-url="https://dororongju.tistory.com/">BLOG</button>
			</div>
		</div>
	</section>
</body>
</html>