<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<body>
	<header>
		<div class="header-left"><span>Kim Dong Ju</span></div>
		<div class="header-right"><button class="button-type-1">Contact</button></div>
	</header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Let Me Introduce Myself /&gt;</span>
			</div>

			<div class="panel-1">
				<img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584_1280.png">
				<button class="button-type-1" data-url="/profiles">PROFILE</button>
			</div>

			<div class="panel-1">
				<img src="https://post-phinf.pstatic.net/MjAxODA1MjNfMjIg/MDAxNTI3MDU0MTI0Njk5.0leniJIhs4x6kX4gGubY_fQKoxgDR9w2ELHeNRqrXaYg.Y_e-WkJU10_Qe77AJiWb6-fiqSnt5UjwFz14jVU94Xcg.JPEG/shutterstock_571668544.jpg?type=w1200">
				<button class="button-type-1" data-url="/skills">SKILLS</button>
			</div>

			<div class="panel-1">
				<img src="https://cdn.pixabay.com/photo/2017/02/09/08/54/stress-2051408_1280.jpg">
				<button class="button-type-1" data-url="/career">CAREER</button>
			</div>

			<div class="panel-1">
				<img src="https://cdn.pixabay.com/photo/2016/09/08/04/12/programmer-1653351_1280.png">
				<button class="button-type-1" data-url="/personalProject">PERSONAL PROJECT</button>
			</div>

			<div class="panel-1">
				<img src="https://cdn.pixabay.com/photo/2016/08/17/04/39/template-1599663_1280.png">
				<button class="button-type-1" data-window-open-url="https://dororongju.tistory.com/">BLOG</button>
			</div>
		</div>
	</section>
</body>
</html>