<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<style type="text/css">
	section div.panel-1 { height: 250px; }
</style>

<body>
	<header th:replace="layout/header::header"></header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Web Socket /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/personalProject/chat.jpg}">
				<button class="button-type-1" th:data-url="${'/personalProject/chat/chatRoom'}">CHAT</button>
			</div>
		</div>

		<div>
			<div class="title">
				<span>&lt; Mini Game /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/personalProject/SnakeGame.png}">
				<button class="button-type-1" th:data-url="${'/personalProject/snakeGame'}">SNAK GAME</button>
			</div>
		</div>
	</section>
</body>
</html>
