<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<style>
	section div.panel-1 { height: 300px; }
	.button-type-1 { cursor: auto; }
</style>

<body>
	<header>
		<div class="header-left"><span>Kim Dong Ju</span></div>
		<div class="header-right"><button class="button-type-1">Contact</button></div>
	</header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Framework /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/SpringBoot.png}">
				<button class="button-type-1">Spring Boot</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/spring.jpg}">
				<button class="button-type-1">Spring</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/jpa.png}">
				<button class="button-type-1">HIBERNATE ORM</button>
			</div>
		</div>

		<div>
			<div class="title">
				<span>&lt; Programming Language /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/java.jpg}">
				<button class="button-type-1">JAVA</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/python.jpg}">
				<button class="button-type-1">PYTHON</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/php.jpeg}">
				<button class="button-type-1">PHP</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/javascript.jpeg}">
				<button class="button-type-1">JAVASCRIPT</button>
			</div>
		</div>

		<div>
			<div class="title">
				<span>&lt; DataBase /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/mysql.png}">
				<button class="button-type-1">MYSQL</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/postgres.png}">
				<button class="button-type-1">POSTGRES</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/mssql.jpg}">
				<button class="button-type-1">MSSQL</button>
			</div>
		</div>

		<div>
			<div class="title">
				<span>&lt; Web /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/http.jpg}">
				<button class="button-type-1">HTTP</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/tomcat.png}">
				<button class="button-type-1">DEPLOY</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/aws.png}">
				<button class="button-type-1">AWS</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/heroku.png}">
				<button class="button-type-1">HEROKU</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/html_css.png}">
				<button class="button-type-1">HTML / CSS</button>
			</div>
		</div>

		<div>
			<div class="title">
				<span>&lt; AI /&gt;</span>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/deeplearning.jpeg}">
				<button class="button-type-1">DEEP LEARNING</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/tensorflow.png}">
				<button class="button-type-1">TENSOR FLOW</button>
			</div>

			<div class="panel-1">
				<img th:src="@{/images/skills/pyTorch.jpg}">
				<button class="button-type-1">PYTORCH</button>
			</div>
		</div>
	</section>
</body>
</html>