<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<link rel="stylesheet" th:href="@{/css/portfolio/personalProject/snakeGame/snakeGame.css}"/>
<script th:src="@{/js/portfolio/personalProject/snakeGame/snakeGame.js}"></script>

<body>
	<header th:replace="layout/header::header"></header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Snake Game /&gt;</span>
			</div>

			<div class="panel-1">
				<div class="snake_wrap">

					<div class='game'>
						<div class="info">
							<button id='startBtn'>시작</button>
							<span class="info grey">점수 : <span id='score'>0</span></span>
						</div>
						<div>
							<table id='snakeTable'>
							</table>
						</div>
					</div>

					<div class='controller'>
						<table>
							<tr>
								<td></td><td id='up_btn' class='btn' data-key='up'>W</td><td></td>
							</tr>
							<tr>
								<td id='left_btn' class='btn' data-key='left'>A</td><td id='down_btn' class='btn' data-key='down'>S</td>
								<td id='right_btn' class='btn' data-key='right'>D</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="panel-1">
				<div class="title">Ranking</div>
				<ul>
					<li th:if="${gameScoreDtoList.size() == 0}">
						<span th:text="${'순위'}" th:style="${'display:inline-block; width:50px;'}"></span>
						<span th:text="${'점수'}" th:style="${'display:inline-block; width:50px;'}"></span>
						<span th:text="${'닉네임'}"></span>
					</li>
					<li th:each="gameScoreDto, iter : ${gameScoreDtoList}">
						<span th:text="${iter.index+1+'등'}"></span>
						<span th:text="${gameScoreDto.getScore()+'점'}"></span>
						<span th:text="${gameScoreDto.getNickName()}"></span>
					</li>
					<li th:if="${gameScoreDtoList.size() == 0}">
						<span>등록된 순위 정보가 없습니다.</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>