<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead::commonHead"></head>

<link rel="stylesheet" th:href="@{/css/portfolio/personalProject/snakeGame/snakeGame.css}"/>
<script th:src="@{/js/portfolio/personalProject/snakeGame/snakeGame.js}"></script>

<body>
	<header>
		<div class="header-left"><span>Kim Dong Ju</span></div>
		<div class="header-right"><button class="button-type-1">Contact</button></div>
	</header>
	<section>
		<div>
			<div class="title">
				<span>&lt; Snake Game /&gt;</span>
			</div>

			<div class="panel-1">
				<div class="snake_wrap">

					<div class='game'>
						<div class="info">
							<button id='startBtn'>시작</button>
							<span class="info grey">점수 : <span id='score'>0</span></span>
						</div>
						<div>
							<table id='snakeTable'>
							</table>
						</div>
					</div>

					<div class='controller'>
						<table>
							<tr>
								<td></td><td id='up_btn' class='btn' data-key='up'>W</td><td></td>
							</tr>
							<tr>
								<td id='left_btn' class='btn' data-key='left'>A</td><td id='down_btn' class='btn' data-key='down'>S</td>
								<td id='right_btn' class='btn' data-key='right'>D</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>